In [1]:
# Q3. How do you convert one data type to another in Python?

There are some inbuilt functions or methods like: int(), float(), str(), ord(), hex(), oct(), tuple(), set(), list(), dict(), etc. for the type casting in python.

Example 1: Convert string into an integer.

In [4]:
a = '23'
b = 20

a + b

TypeError: can only concatenate str (not "int") to str

As you can see, It throws an error because Variable a stores 23 as a string and Variable b stores 20 as integer. So, we have to convert Variable a from string to integer simply using int() function.

In [3]:
int(a) + b

43

Example 2: Convert tuple into a set.

In [58]:
t = (2, 4, 5, "Henil", "Rupawala", 23.25)

h = set(t)

h

{2, 23.25, 4, 5, 'Henil', 'Rupawala'}